<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Teams</title>
  </head>
  <body>
    <h1><%= @team.name %></h1>
    <h2>Team Motto: <%= @team.motto %></h2>
    <% @heroes.each.with_index(1) do |hero, num| %>
    <h2>Hero Name: <%= hero.name %></h2>
    <p>Hero Power: <%= hero.power %></p>
    <p>Hero Biography: <%= hero.bio %></p>
    <% end %>
  </body>
</html>
